* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(../FOTOS/coolbackgrounds-gradient-oxygen.png);
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    img {
        width: 5%;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 2rem;

        li {
            font-size: 1.2rem;

            a {
                display: flex;
                text-decoration: none;
                color: #606060;
                transition: .3s;

                &:hover {
                    color: #caa977;
                    scale: 1.2;

                }
            }
        }
    }
}

main {
    #sec1 {
        display: flex;

        .info {
            width: 50%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                font-size: 50px;
                width: 60%;
                color: #caa977;
                font-weight: 900;
                letter-spacing: 1.5px;
                /* esacio entre las letras*/
            }

            p {
                color: #dfdfdf;
                font-size: 1.5rem;
                font-weight: 300;
                width: 80%;
                line-height: 1.5rem;
                /* espacio entre las linias */
            }

            button {
                display: flex;
                font-size: 1.5rem;
                justify-content: center;
                gap: 8px;
                width: 30%;
                padding: 1rem;
                font-weight: 700;
                color: #caa977;
                cursor: pointer;
                background-color: black;
                border: none;
                transition: 0.3s;
                &:hover{
                    background-color: #caa977;
                    color: black;
                }

                img {
                    width: 15%;
                }
            }

        }

        .main-image {
            width: 50%;
            display: flex;
            justify-content: end;

            img {
                width: 60%;
            }
        }
    }

    #sec2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .box-info {
            background: white;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 330px;
            padding: 2rem;
            gap: 1rem;
            text-align: center;

            .box-img {

                overflow: hidden;
                /*el contenido se adapta al espacio que hay*/
                width: 250px;
                height: 250px;

                img {
                    width: 100%;
                }
            }

            img {

                width: 40%;
            }
        }
    }

    #sec3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100vh;

        .box-gallery {
            display: flex;
            width: 40%;
            background-color: white;
            padding: 1.5rem;

            .gallery-text {
                width: 50%;
                padding: 0 1rem;

                h3 {
                    font-size: 30px;
                }


            }

            .galley-img {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;

    div {
        width: 50%;
        display: flex;
        justify-content: end;
        gap: 2rem;
        a {
            color: #caa977;
            
        }
    }
}